<div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li
        [appCarousel]="{disabled: currentPage === 0}"
        class="page-item"
      >
        <a (click)="currentPage = currentPage - 1" class="page-link">Previous</a>
      </li>

      <ng-container *appTimes="images.length; let i = index">
        <li
          *ngIf="checkWindowsIndex(i)"
          [appCarousel]="{active: i === currentPage}"
          class="page-item"
        >
          <a (click)="currentPage = 1" class="page-link">{{i + 1}}</a>
        </li>
      </ng-container>

      <li
        [appCarousel]="{disabled: currentPage === images.length - 1 }"
        class="page-item"
      >
        <a (click)="currentPage = currentPage + 1" class="page-link">Next
        </a>
      </li>

    </ul>
  </nav>

  <div>
    <h4>{{ images[currentPage].title }}</h4>
    <img [alt]="images[currentPage].title" [src]="images[currentPage].url">
  </div>

  <ul *appTimes="5">
    <li>Hello World!</li>
  </ul>
</div>
